{% extends 'base.html' %} {% block title %}ConnecTheShelf {% endblock %} {% block body %}
<!-- Banner -->
<!-- <section class="main-banner py-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-caption py-0">
                                <p class='invisible'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quas dicta ex deleniti id veniam sapiente </p>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Services -->

<!-- Top Image -->
<section class="top-image py-0">
    <div class="container-fluid py-0 my-0">
        <div class="row">
            <div class="col-md-12">
                <img src="/static/assets/images/logo.png" alt="">
                <div class="down-content">
                    <h4>ConnecTheShelf</h4>
                    <p>ConnecTheShelf is book rental and selling service offered by an opensource foundation. We offer you your favourite books and minimum load to your pocket. Whether renting or selling our prime goal is to <b>provide you the best services at the most affordable services.</b>                        <br> <b>Connect with us</b> to enjoy your services.</p>
                    <div class="primary-button">
                        <a href="#">Read More about us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item first-item">
                    <div class="icon"></div>
                    <h4>
                        <a href="/event/"> Buy book </a></h4>
                    <p>Buy new and old books at very affordable price. If not available then <b>make a request.</b> We'll provide that at no extra cost.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item second-item">
                    <div class="icon"></div>
                    <h4> <a href="#"> Rent </a> </h4>
                    <p>Book on rent to rant. We also have a rental service where you can rent a book and then return after the specified time.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item third-item">
                    <div class="icon"></div>
                    <h4> <a href="#"> Plans </a></h4>
                    <p>There are some extra benefits which you would get on taking our membership plans. Please have a look at it.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item fourth-item">
                    <div class="icon"></div>
                    <h4> <a href="/donation"> Donate a book </a></h4>
                    <p>If you have a book which you might not need in future then donate it to us and we would give it to someone who needs it. Click to read more</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item fivth-item">
                    <div class="icon"></div>
                    <h4>Get in connection</h4>
                    <p>You can contact us whenever you face any problem or you have any kind of doubt or query. We would be glad to resolve your queries and problems.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item sixth-item">
                    <div class="icon"></div>
                    <h4>Events</h4>
                    <p>ConnecTheShelf keeps on celebrating festivals. You can always enjoy with us by having a look at event section and having amazing features and discounts.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Left Image -->
<section class="left-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/assets/images/left-image.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Ante Interdum Raclette</h4>
                    <p>Lorem ipsum dolor amet raclette chambray bitters, hammock celiac slow-carb flexitarian four dollar toast food truck health goth. Air plant brunch food truck vegan scenester organic crucifix irony pour-over pop-up austin hexagon kitsch
                        swag. Godard literally humblebrag cloud bread vice master cleanse chambray typewriter put a bird on it brooklyn forage.<br><br>Air plant brunch food truck vegan scenester organic crucifix irony pour-over pop-up austin hexagon kitsch
                        swag. Godard literally humblebrag cloud bread vice master cleanse chambray typewriter put bird brooklyn</p>
                    <div class="primary-button">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Right Image -->
<section class="right-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Ante Interdum Raclette</h4>
                    <p>Lorem ipsum dolor amet raclette chambray bitters, hammock celiac slow-carb flexitarian four dollar toast food truck health goth. Air plant brunch food truck vegan scenester organic crucifix irony pour-over pop-up austin hexagon kitsch
                        swag. Godard literally humblebrag cloud bread vice master cleanse chambray typewriter put a bird on it brooklyn forage.<br><br>Air plant brunch food truck vegan scenester organic crucifix irony pour-over pop-up austin hexagon kitsch
                        swag. Godard literally humblebrag cloud bread vice master cleanse chambray typewriter put bird brooklyn</p>
                    <div class="primary-button">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/static/assets/images/right-image.jpg" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}